/* school logo for all pages */
.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin: 20px;
}
/* school name for all pages */
.SchoolTitle {
  font-size: 35px;
  margin: -20px;
}

/* menus for all pages */
.menu h4 a {
  color: white; /* Color for the link within h4 */
  text-decoration: none; /* Remove underline from the link */

  display: flex;
  flex-direction: row;
}

/* menus for all pages */
.menu {
  background-color: rgb(32, 32, 131);
  color: aliceblue;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  flex-direction: row;
}

/* standadize all the word format */
.content {
  display: flex;
  flex-direction: row;
  margin: 15px;
  padding: 10px;
  font-size: 20px;
  text-wrap: wrap;
  width: 80%;
}

/* subheading for all pages */
.subtitle {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  background-color: rgb(32, 32, 131);
  color: white;
  justify-content: center;
  width: 500px;
}

/* footer for all pages*/
.footer {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: rgb(32, 32, 131);
}

/* alignment of the school logo and school title for all pages */
.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 40px;
}
/* standadize word size */
.word {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .intro {
    display: flex;
    flex-direction: column;
  }
  .subtitle {
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}
