/* school logo for all pages */
.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 4px hidden;
}

/* school name for all pages */
.SchoolTitle {
  font-size: 35px;
  margin: -20px;
}

/* menus for all pages */
.menu h4 a {
  color: white; /* Color for the link within h4 */
  text-decoration: none; /* Remove underline from the link */
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: row;
}

/* menus for all pages */
.menu {
  background-color: rgb(32, 32, 131);
  color: aliceblue;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  flex-direction: row;
  margin-bottom: 0px;
}

/* standadize all the word format */
.content {
  display: flex;
  flex-direction: row;
  margin: 15px;
  padding: 10px;
  font-size: 22px;
  text-wrap: wrap;
  width: 80%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* subheading for all pages */
.subtitle {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  background-color: rgb(32, 32, 131);
  color: white;
  justify-content: center;
  width: 500px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* footer for all pages*/
.footer {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: rgb(32, 32, 131);
}

.footer h6 {
  cursor: pointer;
}
/* alignment of the title for all pages */
.header {
  display: flex;
  justify-content: center;
  padding: 5px;
  height: 100px;
  align-items: center;
  margin: 0px;
  font-size: 40px;
  border: 3px hidden;
}
/* standadize word size */
.word {
  font-size: 18px;
}

/*Scrollbar setting for different browsers*/
/* For Chrome and Safari */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: darkslategray; /* Set the color of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: rgba(
    220,
    228,
    237,
    0.863
  ); /* Set the color of the scrollbar track */
}

/* For Firefox */

html {
  scrollbar-color: rgba(220, 228, 237, 0.863);
}

html {
  scrollbar-width: thin;
  scrollbar-color: darkslategray;
}

/* For Internet Explorer and Microsoft Edge */
body {
  scrollbar-face-color: #333;
  scrollbar-track-color: #666;
}

body {
  scrollbar-shadow-color: #999;
  scrollbar-highlight-color: #bbb;
  scrollbar-3dlight-color: #bbb;
  scrollbar-darkshadow-color: #666;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .intro {
    display: flex;
    flex-direction: column;
  }
  .subtitle {
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}
