/* publication page: image border */
.rowforimg3 {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
/* publication page: image 1 */
.image5 {
  display: flex;
  flex-direction: column;
  border: 10px hidden;
  width: auto;
  margin: 15px;
  padding: 20px;
}
.word1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px;
  width: 800px;
}
@media only screen and (max-width: 600px) {
  .rowforimg3 {
    display: flex;
    flex-direction: column;
  }
}
