#student-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  color: black;
}

#student-table th,
#student-table td {
  border: 1px solid #a5bfe6;
  padding: 12px;
  text-align: left;
}

#student-table th {
  background-color: #a5bfe6;
}

#student-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#student-table tbody tr:hover {
  background-color: #e0e0e0;
}

@media only screen and (max-width: 600px) {
  #student-table {
    display: flex;
    flex-direction: column;
  }
  #student-table-body {
    display: flex;
    flex-direction: column;
  }
}
