#section1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  border: 4px hidden;
}
.contact-info {
  border: 4px hidden;
  width: 50%;
}
.location {
  border: 5px hidden;
  font-size: 18px;
}
.imageMap img {
  width: 650px;
  height: 600px;
}
