.body {
  align-items: center;
  justify-content: center;
  display: flex;
}

.container1 {
  position: relative;
  margin-top: 100px;
  width: 450px;
  height: auto;
  background-color: rgb(85, 91, 122);
  border-radius: 5px;
}

.label {
  padding: 20px 130px;
  font-size: 35px;
  color: white;
}
