#all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 80%; /* Adjusted for better responsiveness */
  font-size: 18px; /* Adjusted for better readability */
  gap: 10px; /* Adjusted the gap between each other */
  max-width: 400px; /* Added max-width for a more controlled layout */
  margin: 0 auto; /* Center the form horizontally */
  gap: 10px;
}

input {
  color: black;
  height: 30px; /*adjust the input box*/
}

@media only screen and (max-width: 600px) {
  #all {
    display: flex;
    flex-direction: column;
  }
}
